
/* ****common**** */

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* ******body***** */

.pagina{
    width: 80%;
    margin: auto;
} 

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* Mi creo le classi float generali */

.left{
    float: left;
}

.right{
    float: right;
}

/* ******header***** */

.top{
    /* background-color: blueviolet; */
    margin-bottom: 20px;
}

#logo{
    height: 60px;
    margin-bottom: 20px;
}

nav{
    height: 40px;
    line-height: 40px;
}

nav li{
    list-style: none;
    float: left;
    margin-right: 10px;
    text-transform: uppercase;

}

.jumbotron{
    background-image: url(../img/banner.jpg) ;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    height: 500px;
    position: relative;
    /* background-color: rgb(235, 198, 37); */
}

.testo-jumbo{
    width: 60%;
    position: absolute;
    bottom: 40px;
    left: 30px;
    color: white;
}

.testo-jumbo > h2{
    font-size: 30px;
}

/* ******main***** */

.mezzo{
    /* background-color: aquamarine; */
    margin-bottom: 10px;
}

.container{
    height: 80px;
    width: 100%;
    margin-bottom: 20px;
    /* background-color:rgb(0, 153, 255); */
}

#titl{
    font-size: 40px;
}

.colonna1, .colonna2{
    width: 20%;
    height: 500px;
}

.centrale{
    width: 54%;
    margin: 0 3%;
    height: 500px;
    margin-bottom: 20px;
}

/* .azzurro{
    background-color:rgb(0, 153, 255); 
} */

.foto{
    background-image: url(../img/img-1.jpg);
}

.foto2{
    background-image: url(../img/banner-2.jpg);
}

.foto3{
    background-image: url(../img/img-3.jpg);
}

.foto , .foto2 , .foto3 {
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    height: 250px;
}

.spazio{
    padding-bottom: 10px ;
}

/* ******footer***** */

footer{
    /* background-color: rgb(48, 17, 48); */
}

footer > div{
    height: 40;
    line-height: 40px;
    text-align: center;
}

#cuore{
    color: red;
}
