
/* ****common**** */

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* ******body***** */

.pagina{
    width: 80%;
    margin: auto;
} 

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* Mi creo le classi float generali */

.left{
    float: left;
}

.right{
    float: right;
}

/* ******header***** */

.top{
    margin-bottom: 20px;
}

#logo{
    height: 60px;
    margin-bottom: 20px;
}

nav{
    height: 40px;
    line-height: 40px;
}

nav li{
    list-style: none;
    float: left;
    margin-right: 10px;
    text-transform: uppercase;

}

.jumbotron{
    background-image: url();
    margin-bottom: 20px;
    height: 500px;
    position: relative;
}

.testo-jumbo{
    width: 60%;
    /* background-color: blueviolet; */
    position: absolute;
    bottom: 40px;
    left: 30px;
}

.testo-jumbo > h2{
    font-size: 30px;
}

/* ******main***** */

.jumbotron{
    background-color: rgb(177, 177, 128);
    margin-bottom: 20px;
    height: 500px;
}

.colonna1, .colonna2{
    width: 20%;
    background-color: rgb(0, 153, 255);
    height: 500px;
}

.centrale{
    width: 54%;
    margin: 0 3%;
    background-color: rgb(0, 153, 255);
    height: 500px;
    margin-bottom: 20px;
}

.container{
    background-color:rgb(0, 153, 255);
    height: 60px;
    width: 100%;
    margin-bottom: 20px;
}

.mezzo{
    background-color: aquamarine;
    margin-bottom: 10px;
}

/* ******footer***** */

footer{
    height: 40px;
    background-color: rgb(48, 17, 48);
}
